/* HEADING */
header{
    text-align: center;
    background-color: burlywood;
    color: white;
}

/* BODY */
body{
    font-family: 'Raleway', sans-serif;
}

/* TABLE */
.tableCard{
    margin-bottom: 15px;
}

.card-header{
    background-color: lightblue;
    
}
/* ADD TRAIN */


